<h1>All My Lists</h1>

<%= link_to 'Add a new list', new_list_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th colspan="2"></th>
  </tr>
 
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.name %></td>
      <td>placeholder</td>
      <td><%= link_to 'Show', list_path(list) %></td>
      <td><%= link_to 'Edit', edit_list_path(list) %></td>
      <td><%= link_to 'Destroy', list_path(list),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>