<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<h2>To-dos</h2>
<ul>
<%= render @list.todos %>
</ul>

<h2>Add a to-do:</h2>
<%= render 'todos/form' %>

<%= link_to 'Edit', edit_list_path(@list) %>
<%= link_to 'Back to all lists', lists_path %>